body{
    background-color:#777;
    width:960px;
    margin:0 auto;
}
header{
    background-color:#ebebeb;
    width:960px;

}
nav{

}
footer{

}
section{
    background-color:#ebebeb;
    width:495px;
}
aside.aside{
    background-color:#ebebeb;
    width:30%;
    float:right;
    margin:1px
    margin-right: 0%
}
article{

}
.clear{

}
h1{

}
p.text{
    color:darkgray;

}
