body{
	background-color:darkgray;
	height:100%;
	min-width:960px;
	margin:0px 100px;
}

#header{
	border:solid;
	border-color: black;
	background:green;
	text-decoration-color:black;
	padding:3px;
	margin:20px 10px 0px 10px;
	height:75px;
	min-width:960px;
	width:960px;
}

nav	{
	border:solid black;
	background:green;
	text-decoration-color:black;
	padding:3px;
	margin:10px 10px 20px 10px;
	height:75px;
	min-width:960px;
	width:960px;

}

#wrap{
	min-height:100%;
	min-width:960px;
	margin-bottom:-50px;
	padding:20px;
	
}

#aside{
	border:solid;
	border-color:black;
	background:green;
	text-decoration-color:black;
	padding:3px;
	width:390px;
	height:300px;
	float:right;
	margin: 3px 12px 0px 0px;
}

.section{
	border:solid;
	border-color:black;
	background:green;
	text-decoration-color:black;
	padding:3px;
	width:495px;
	height:300px;
	float:left;
	margin: 3px 0px 0px 12px;
}

#combineAsideSection{
	margin: 0px 135px 0px 0px;
}

#footer{
	border:solid;
	border-color:black;
	background:green;
	text-decoration-color:black;
	padding:3px;
	width:960px;
	position:fixed;
	height:70px;
	margin: 400px 10px 0px 25px;
		
}